@{
    ViewBag.Title = "About";
}
<h2 class="text-center" id="pad">@ViewBag.Title.</h2>
<h4 class="text-center" id="pad">This MVC lets users sign-in as an Admin and manage Agents, Customers, and Policies for an insurance company!</h4>

<p class="text-center" id="pad">My name is Jacob Dillard, and I am a 22 year old Hoosier! I am an aspiring Software Developer and hope to one day be a Senior Backend Developer at a video game company. I have learned HTML, CSS, C++, and C#. Along with that, I also have knowledge in SQL and some Azure knowledge. I am currently learning Bootstrap and React!</p>
