@{
    ViewBag.Title = "Contact";
}
<h2 class="text-center" id="pad">@ViewBag.Title.</h2>
<h3 class="text-center" id="pad">Feel free to reach out!</h3>

<address class="text-center" id="pad">
    
    <abbr title="Phone">P:</abbr>
    765-318-8853
</address>

<address class="text-center" id="pad">
    <strong>Github:</strong>   <a href="https://github.com/JED-SoftCoder">My Github</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/jacob-dillard-b4246716a/">My LinkedIn</a>
</address>