@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1 id="pad">Welcome To LifeAssure Admin Portal!</h1>
    <p class="lead">This MVC lets users sign-in as an Admin and manage Agents, Customers, and Policies for an insurance company! The button below leads to Asp.net's website for more information on MVCs! To fully test out the MVC, please create an account and click away!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

